# Python Tuple Basics and Applications

## Introduction
In Python, a **tuple** is an ordered and immutable collection of items. Tuples are similar to lists but are designed for data that should not be modified after creation. Their immutability makes them a reliable choice for storing fixed collections of data.

## Why Tuples?
- **Immutability**: Tuples are immutable, ensuring data integrity and preventing accidental changes.
- **Efficiency**: Tuples are faster and require less memory compared to lists.
- **Use in Hashing**: Tuples can be used as keys in dictionaries or elements of sets, unlike lists.
- **Structured Data**: Tuples are ideal for representing structured data such as coordinates, database records, or configurations.

This notebook showcases my practice and understanding of Python tuples, including:
1. Basics of tuple creation, indexing, and slicing.
2. Common operations and methods for tuples.
3. Use cases for tuples in Python programs.

Explore this notebook with me as we delve into the unique properties and practical applications of Python tuples!

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Creating Tuples

In [1]:
# empty

t1 = ()
print(t1)

()

In [2]:
t2 = (2)
print(t2)
print(type(t2))

2
<class 'int'>

In [3]:
t3 = ('hello')
print(t3)
print(type(t3))

hello
<class 'str'>

In [4]:
# create a tuple with a single item

t4 = (2,)
print(t4)
print(type(t4))

(2,)
<class 'tuple'>

In [5]:
# create a tuple with a single item

t5 = ('hello',)
print(t5)
print(type(t5))

('hello',)
<class 'tuple'>

In [6]:
t6 = (1,2,3,4)
print(t6)

(1, 2, 3, 4)

In [7]:
# hetro

t6 = (1,2.3,True,[1,2,3])
print(t6)
print(type(t6))

(1, 2.3, True, [1, 2, 3])
<class 'tuple'>

In [8]:
# tuple

t7 = (1,2,3,4,(5,6))
print(t7)

(1, 2, 3, 4, (5, 6))

In [9]:
# using type conversion

t8 = tuple('Hello')
print(t8)

('H', 'e', 'l', 'l', 'o')

### Accessing Items

- Indexing
- Slicing

In [11]:
print(t7[4])

(5, 6)

In [12]:
t7[0] = 12

TypeError: 'tuple' object does not support item assignment

### Editing items

In [13]:
print(t3)
t3[0] = 100
# immutable just like strings

hello

TypeError: 'str' object does not support item assignment

### Adding items

In [14]:
print(t3)

hello

### Deleting items

In [15]:
print(t7)
del(t7)
print(t7)

(1, 2, 3, 4, (5, 6))

NameError: name 't7' is not defined

In [16]:
print(t5)
del t5[-1]

('hello',)

TypeError: 'tuple' object doesn't support item deletion

In [17]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)
# membership
1 in t1
# iteration
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

In [18]:
t9 = (1,2,3,4,5,6,7)
print(t9[-1:-5:-1])

(7, 6, 5, 4)

In [19]:
print(t9*3)

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [20]:
7 in t9

True

In [21]:
9 not in  t9

True

In [22]:
for i in t9:
    print(i)

1
2
3
4
5
6
7

In [23]:
print(sum(t9))
print(t9)

28
(1, 2, 3, 4, 5, 6, 7)

### Tuple Functions

In [25]:
# len/sum/min/max/sorted
t = (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t,reverse=True)

[4, 3, 2, 1]

In [26]:
print(min(t9))
print(max(t9))
print(sorted(t9,reverse = True))

1
7
[7, 6, 5, 4, 3, 2, 1]

In [27]:
# count

t9.count(7)

1

In [28]:
# index

t9.index(7)

6

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

In [29]:
import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
    i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
    i*5
print('Tuple time',time.time()-start)

List time 14.77268385887146
Tuple time 13.0220365524292

In [30]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [31]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [32]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

### Why use tuple?

In [34]:
# Tuple unpacking

a,b,c = 1,2,3
print(a)
print(b)
print(c)

1
2
3

In [35]:
a = 1
b = 2
a,b = b,a

In [36]:
a,b,*others = (1,2,3,4,5,6,7,8,9)
print(a,b)
print(others)

1 2
[3, 4, 5, 6, 7, 8, 9]

In [37]:
# zipping tuples

a = (1,2,3,4)
b = (5,6,7,8)
print(tuple(zip(a,b)))

((1, 5), (2, 6), (3, 7), (4, 8))

### `Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [38]:
# write your code here
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

unique = []

for i in test_list:
    unique.append(i[0])
unique = set(unique)

result = []
for i in unique:
    result.append([i])
    for j in test_list:
        if j[0] == i:
            result[-1].append(j[1])

print(list(map(tuple,result)))

[(5, 6, 7, 8), (6, 10), (7, 13)]

### `Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [39]:
# write your code here
t = (1, 5, 7, 8, 10)

L = []

L.append(t[0]*t[1])

for i in range(1,len(t)-1):
    L.append(t[i]*t[i-1] + t[i]*t[i+1])

L.append(t[-1]*t[-2])

print(tuple(L))

(5, 40, 91, 136, 80)

### `Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [41]:
# write your code here
t1 = (1,2,3,0)
t2 = (1,2,3,0)

flag = True
for i,j in zip(t1,t2):
    if i == j:
        continue
    else:
        flag = False
        break
if flag:
    print('same')
else:
    print('not same')

same

### `Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [42]:
# write your code here
L = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
output = [0,0,0]

for i in L:
    if type(i) == list:
        output[0] = output[0] + 1
    elif type(i) == set:
        output[1] = output[1] + 1
    elif type(i) == tuple:
        output[2] = output[2] + 1
    else:
        pass

print('Lists-{}\nSets-{}\nTuples-{}'.format(output[0],output[1],output[2]))

Lists-2
Sets-2
Tuples-1

### `Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Suman
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- saurabh
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Suman', 'B.tech', 'Python', '2022')
```

In [44]:
# write your code here
students = []

num = int(input('enter the number of applicants'))

for i in range(num):
    print('Enter details of',i+1,'applicant:')
    name = input('enter name')
    h_ed = input('enter higher education')
    p_skill = input('enter primary skill')
    yog = input('enter year of graduation')

    students.append((name,h_ed,p_skill,yog))

required_skill = input('enter required skill')
required_hed = input('enter required higher education')
required_yog = input('enter required year of graduation')

flag = False
for i in students:
    if i[1] == required_hed and i[2] == required_skill and i[3] == required_yog:
        print(i)
        flag = True

if flag == False:
    print('No such candidates')

enter the number of applicants 2

Enter details of 1 applicant:

enter name suman
enter higher education b.tech
enter primary skill python
enter year of graduation 2022

Enter details of 2 applicant:

enter name pranav
enter higher education b.tech
enter primary skill data science
enter year of graduation 2023
enter required skill data science
enter required higher education b.tech
enter required year of graduation 2023

('pranav', 'b.tech', 'data science', '2023')