# Python Set Basics and Applications

## Introduction
In Python, a **set** is an unordered collection of unique elements. Sets are designed for fast membership testing and removing duplicate values, making them a powerful tool for handling collections where order does not matter.

## Why Sets?
- **Uniqueness**: Automatically removes duplicate elements, ensuring all items in the collection are unique.
- **Efficiency**: Optimized for operations like membership testing (`in`) and mathematical operations (union, intersection, difference).
- **Mathematical Operations**: Provides direct support for operations like union, intersection, and set difference, making it ideal for solving problems involving groups of data.
- **Dynamic Updates**: Supports addition and removal of elements dynamically.

This notebook showcases my practice and understanding of Python sets, including:
1. Basics of set creation and operations.
2. Common methods like union, intersection, and difference.
3. Real-world use cases, such as eliminating duplicates and membership testing.

Join me in exploring the versatility and practical uses of Python sets in this notebook!

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

In [1]:
s= {}
print(type(s))

<class 'dict'>

### Creating Sets

In [2]:
# empty

s1= set()
print(type(s1))

<class 'set'>

In [3]:
# 1D and 2D

s2 = {1,2,3,4,5}
print(s2)

{1, 2, 3, 4, 5}

In [4]:
s3 = {1,2,3,4,5,{6,7,8}}

TypeError: unhashable type: 'set'

In [ ]:
# homo and hetro

s4 = {2,(3,'hello'),True}
print(s4)

In [5]:
s5 = set([1,2,3,4])
print(s5)
print(type(s5))

{1, 2, 3, 4}
<class 'set'>

In [6]:
s6 = {1,2,2,3,3,3,4,4,4,5,5,6,7,7,8,8,9,9,9,0,0,0,}
print(s6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [7]:
s7 = {1,2,[3,4]}
print(s7)

TypeError: unhashable type: 'list'

In [8]:
# using type conversion

s4 = set([1,2,3])
print(s4)

{1, 2, 3}

In [9]:
# duplicates not allowed

s5 = {1,1,2,2,3,3}
print(s5)

{1, 2, 3}

In [10]:
# set can't have mutable items

s6 = {1,2,[3,4]}
print(s6)

TypeError: unhashable type: 'list'

In [11]:
s8 = {1,2,3,4,5,6,7}
s9 = {3,4,6,1,7,2,5}
print(s8==s9)

True

### Accessing Items

In [12]:
s1 = {1,2,3,4}
s1[0:3]

TypeError: 'set' object is not subscriptable

### Editing Items

In [15]:
s1 = {1,2,3,4}
s1[0] = 100

TypeError: 'set' object does not support item assignment

### Adding Items

In [17]:
# add

s9 = {1,2,3,4}
s9.add(5)
print(s9)

{1, 2, 3, 4, 5}

In [18]:
# update

s10 = {1, 2, 3, 4, 5}
s10.update([6,7,8,9])
print(s10)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Deleting Items

In [19]:
# del

s11 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
print(s11)
del(s11)
print(s11)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

NameError: name 's11' is not defined

In [20]:
# discard

s12 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
s12.discard(3)  # Discard will not through an error even number not exist but remove will.
print(s12)

{1, 2, 4, 5, 6, 7, 8, 9}

In [21]:
s13 = {1, 2, 4, 5, 6, 7, 8, 9}

print(s13.discard(89))

# remove
print(s13.remove(89))

None

KeyError: 89

In [22]:
# pop

s13 = {1, 2, 4, 5, 6, 7, 8, 9}
s13.pop()

1

In [23]:
# clear

s13.clear()
print(s13)

set()

### Set Operation

In [25]:
# Union (|)

s14 = {1,2,3,4,5,6}
s15 = {5,6,7,8,9,10}

s14|s15

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [26]:
# Intersections (&)

s16 = {1,2,3,4,5,6}
s17 = {5,6,7,8,9,10}

s16 & s17

{5, 6}

In [27]:
# Difference(-)
s18 = {1,2,3,4,5,6}
s19 = {5,6,7,8,9,10}
print(s18-s19)
print(s19-s18)

{1, 2, 3, 4}
{8, 9, 10, 7}

In [28]:
# Symmetric diff (^)   # print all items except common
s20 = {1,2,3,4,5,6}
s21 = {5,6,7,8,9,10}
s20^s21

{1, 2, 3, 4, 7, 8, 9, 10}

In [29]:
# Membership Test

1 in s20

True

In [30]:
3 not in s21

True

In [31]:
# Iteration

for i in s21:
    print(i)

5
6
7
8
9
10

### Set Functions

In [33]:
# len/sum/min/max/sorted

s22 = {3,4,5,1,2,7,6,9,8}
print(len(s22))
print(sum(s22))
print(min(s22))
print(max(s22))
print(sorted(s22, reverse = True))

9
45
1
9
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [34]:
# union/update

s23 = {1,2,3,4,5,6}
s24 = {4,5,6,7,8,9}

# s23 | s24
print(s23|s24)
print(s23.union(s24))

s23.update(s24)
print(s23)
print(s24)
s24.update(s23)
print(s23)
print(s24)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

# intersection/intersection_update

s25 = {1,2,3,4,5,6}
s26 = {4,5,6,7,8,9}


s25.intersection(s26)

s25.intersection_update(s26)
print(s25)
print(s26)

In [35]:
# difference/difference_update


s27 = {1,2,3,4,5,6}
s28 = {4,5,6,7,8,9}


s27.difference(s28)

s27.difference_update(s28)
print(s27)
print(s28)

{1, 2, 3}
{4, 5, 6, 7, 8, 9}

In [36]:
# symmetric_difference/symmetric_difference_update


s29 = {1,2,3,4,5,6}
s30 = {4,5,6,7,8,9}


s29.symmetric_difference(s30)

s29.symmetric_difference_update(s30)
print(s29)
print(s30)

{1, 2, 3, 7, 8, 9}
{4, 5, 6, 7, 8, 9}

In [37]:
# isdisjoint/issubset/issuperset

s30 = {1,2,3,4}
s31 = {3,4,5,6}

# isdisjoint means in between two sets their should not be any common item.
s30.isdisjoint(s31)

False

In [38]:
s32 = {1,2,3,4,5,6}
s33 = {4,5,6}

print(s32.issubset(s33))
print(s33.issubset(s32))

False
True

In [39]:
s34 = {1,2,3,4,5,6}
s35 = {4,5,6}


print(s34.issuperset(s35))
print(s35.issuperset(s34))

True
False

In [40]:
# copy

s36 = {1,2,3,4,5,6,7,8,9}
s37 = s36.copy()


print(s36)
print(id(s36))
print(s37)
print(id(s37))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
2368683866848
{1, 2, 3, 4, 5, 6, 7, 8, 9}
2368683865056

### Frozenset
Frozen set is just an immutable version of a Python set object

In [42]:
# create frozenset

fs1 = frozenset({1,2,3,4})
fs1

frozenset({1, 2, 3, 4})

In [43]:
fs2 = frozenset({1,2,3,4})
fs3 = frozenset({5,6,7,8})
fs2|fs3

frozenset({1, 2, 3, 4, 5, 6, 7, 8})

### what works and what does not
- works -> all read functions
- does't work -> write operations

In [44]:
# When to use
# 2D sets

fs4 = frozenset([1,2,3,4,frozenset([5,6])])
fs4

frozenset({1, 2, 3, 4, frozenset({5, 6})})

### Set Comprehension

In [45]:
# examples

{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

### `Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [47]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

s1 = set(ar1)
s2 = set(ar2)
s3 = set(ar3)

result = list((s1 & s2) & s3)
print(result)

[80, 20]

### `Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [48]:
# write your code here
vowels = set('aeiouAEIOU')

s = set("hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX")

print('No of unique vowels-',len(s & vowels))

No of unique vowels- 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "NareshIT"
Output: No
```

In [49]:
# write your code here
s = "010101010103"

if len(set(s)) == 2:
    print('binary')
else:
    print('not binary')

not binary

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [50]:
# write your code here
L = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

s = set()

for i in L:
    s.update(i)

print(s)

{1, 2, 3, 4, 5, 6, 7, 9}

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [51]:
# write your code here
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

[item for item in lst1 if item in lst2]

[4, 5, 9, 10]